{% extends "index.html" %}

{% block content %}
<div class="row">
    <div class="student-heading-wrapper" id="student-heading-wrapper">
        <div class="student-heading" id="student-heading">
            <div id="grad-level">
                <span><b>Level</b></span>
                <span>Undergraduate</span>
            </div>
            <div id="class-level">
                <span><b>Class</b></span>
                <span>Senior</span>
            </div>
            <div id="major">
                <span><b>Major</b></span>
                <span>American Studies</span>
            </div>
            <div id="program">
                <span><b>Program</b></span>
                <span>BA-AMST</span>
            </div>
            <div id="advisor-name">
                <span><b>Advisor</b></span>
                <span>Last, First</span>
            </div>
            <div id="academic-status">
                <span><b>Academic Status</b></span>
                <span>Good Standing</span>
            </div>
            <div id="student-type">
                <span><b>Student Type</b></span>
                <span>(C) Continuing Student</span>
            </div>
            <div id="student-status">
                <span><b>Student Status</b></span>
                <span>Active</span>
            </div>
            <div id="ant-grad-date">
                <span><b>Anticipated Grad Date</b></span>
                <span>DD-MMM-YY</span>
            </div>
        </div>
    </div>
</div>
<div class="container text-start myWrapper" id="myWrapper">
    <div class="row">
        <div class="idForm" aria-label="Student ID Form">
            <div class="inner_form">
                <p>Enter Your Student ID and Student Email</p>
                <form action="/" method="post" enctype="multipart/form-data">
                    <label for="student_id">Student ID:</label>
                    <input type="text" id="student_id" name="student_id" required>
                    <!-- Input for Student Email -->
                    <label for="student_email">Student Email:</label>
                    <input type="text" id="student_email" name="student_email">
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
