{% extends "index.html" %}
{% block title %}SDA - 405 Method Not Allowed{% endblock title %}


{% block content %}
    <div class="error_page" id="error_page-Container">
        <h1 class="error_page" id="error_page-Heading">
            Method Not Allowed
        </h1>
    </div>
    <div class="error_page" id="error_page-Notice_Container">
        <p class="APT-error_page" id="APT-error_page-Notice">
            You must use the ID Form located on the home page
            to access this content.
        </p>
    </div>
{% endblock content %}
