{% extends "index.html" %}
{% block title %}SDA - Academic Progress Tracker{% endblock %}

{% block content %}
    <div class="progress_tracker" id="aptContainer">
        <!--
        <h1 class="progress_tracker" id="aptH1">Welcome to the Academic Progress Tracker</h1>

        <label for="showTracker">
            <input type="checkbox" id="showTracker" onclick="toggleTracker()">
                Show Academic Progress Tracker
            </input>
        </label>
        <div class="progress_tracker" id="aptOverlay"></div>
        <div class="progress_tracker" id="aptModal">
            <button class="progress_tracker" id="aptClose" onclick="closeModal()">X</button>
        -->
            <h2 class="progress_tracker" id="aptH2">
                Academic Progress Tracker
            </h2>

            <table class="progress_tracker" id="aptTable" border="1">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Course #</th>
                        <th>Subject</th>
                        <th>CRN</th>
                        <th>Course Title</th>
                        <th>Campus</th>
                        <th>Term Description</th>
                        <th>GPA Hours</th>
                        <th>Attempted Hours</th>
                        <th>Earned Hours</th>
                        <th>Midterm Grade</th>
                        <th>Final Grade</th>
                        <th>Quality Points</th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in courses %}
                    <tr>
                        <td>{{ course[0] }}</td>
                        <td>{{ course[1] }}</td>
                        <td>{{ course[2] }}</td>
                        <td>{{ course[3] }}</td>
                        <td>{{ course[4] }}</td>
                        <td>{{ course[5] }}</td>
                        <td>{{ course[6] }}</td>
                        <td>{{ course[7] }}</td>
                        <td>{{ course[8] }}</td>
                        <td>{{ course[9] }}</td>
                        <td>{{ course[10] }}</td>
                        <td>{{ course[11] }}</td>
                        <td>{{ course[12] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        <!--
        </div>
        -->
    </div>
{% endblock %}

{% block script %}
    <script>
        function toggleTracker() {
            var checkbox = document.getElementById('showTracker');
            var tracker = document.getElementById('aptModal');
            var overlay = document.getElementById('aptOverlay');
            if (checkbox.checked) {
                tracker.style.display = 'block';
                overlay.style.display = 'block';
            } else {
                tracker.style.display = 'none';
                overlay.style.display = 'none';
            }
        }

        function closeModal() {
            var checkbox = document.getElementById('showTracker');
            var tracker = document.getElementById('aptModal');
            var overlay = document.getElementById('aptOverlay');
            checkbox.checked = false;
            tracker.style.display = 'none';
            overlay.style.display = 'none';
        }
    </script>
{% endblock script %}
