{% extends "index.html" %}


{% block content %}
    {% with messages = get_flashed_messages()%}
        {% if messages %}
        <div class="get_flashed_messages" id="flash-Overlay"></div>
        <div class="get_flashed_messages" id="flash-Modal">
            <button class="get_flashed_messages" id="flashClose" onclick="closeModal()">X</button>

            {% for message in messages %}
                <p class="get_flashed_messages" id="message">
                    {{message}}
                </p>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}
    <div class="home_Wrapper">
        <div class="myWrapper" id="myWrapper">
            <div class="idForm" id="form_container" aria-label="Student ID Form">
                <div class="idForm" id="inner_form">
                    <p class="idForm" id="heading">Enter Your Student ID and Student Email</p>
                    <form class="idForm" id="idForm" action="{{ url_for('progressTracker.progress_tracker') }}" method="POST">
                        <div class="idForm" id="student_id">
                            <label for="student_id">
                                Student ID:
                                <input class="idForm" id="student_id" type="number" min="800000000" max="800999999" step="1" name="student_id" required>
                            </label>
                        </div>
                        <!-- Input for Student Email -->
                        <div class="idForm" id="student_email">
                            <label for="student_email">
                                Student Email:
                                <input class="idForm" id="student_email" type="email" maxlength="40" name="student_email" required>
                            </label>
                        </div>
                        <div class="idForm" id="break">
                            <div class="idForm" id="submit">
                                <input class="idForm" id="submit" type="submit" value="Submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script>
        function closeModal() {
            var flashModal = document.getElementById('flash-Modal');
            var flashOverlay = document.getElementById('flash-Overlay');
            flashModal.style.display = 'none';
            flashOverlay.style.display = 'none';
            tracker
        }
    </script>
{% endblock script %}
