{% extends "index.html" %}
{% block title %}SDA - Cultural Credits{% endblock title %}


{% block content %}
    <div class="cultural_credit" id="ccContainer">
        <h1 class="cultural_credit" id="ccH1">Cultural Credit Tracker</h1>
        <p class="cultural_credit" id="ccNotice">
            You need at least {{ requiredCredits }} Cultural Credits to graduate.
        </p>
        <p class="cultural_credit" id="ccNotice_current">
            You currently have {{ currentCredits }} Cultural Credits.
        </p>
        {% if remainingCredits == 0 %}
        <p class="cultural_credit" id="ccNotice_fulfilled">
            You have fulfilled your Cultural Credits requirement!
        </p>
        {% endif %}
        {% if remainingCredits > 0 %}
        <p class="cultural_credit" id="ccNotice_unfulfilled">
            You need {{ remainingCredits }} more Cultural Credits to graduate.
        </p>
        {% endif %}
        <h2 class="cultural_credit" id="ccH2">Upcoming Events</h2>
        <ul>
            {% for event in events %}
            <li>{{ event.name }} - {{ event.date }} - {{ event.unit }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
