{% extends "index.html" %}
{% block title %}SDA - Course Reviews{% endblock %}

{% block style %}
        form {
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 5px;
        }

        select, input[type="submit"] {
            width: 100%;
            padding: 10px;
            margin-top: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }
{% endblock %}


{% block content %}
    <div class="course_selection" id="csContainer">
        <form action="{{ url_for('views.reviews.html') }}" method="post">
            <h2>Select Your Course</h2>

            <!-- Adding label for accessibility -->
            <label for="courseSelect">Course:</label>
            <select name="course_name" id="courseSelect" required>
                <option value="" disabled selected>Select your course to review</option>
                {% for course in courses %}
                <option value="{{course}}">{{ course }}</option>
                {% endfor %}
            </select>

            <input type="submit" value="Next">
        </form>
    </div>
{% endblock %}
