

body {
    background-color: #ffffff;
    color: #008000;
}

h1 {
    color: #008000;
}

form {
    margin-top: 20px;
}

label {
    color: #008000;
}

input[type="email"] {
    border: 1px solid #008000;
}

button {
    background-color: #008000;
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #006400;
}
